

{% comment %}
    Name:: Codes Options Template
    Description::
        Helper to create codes selectors with optional "Not Applicable" entry.

    Parameters::
        select.label: descriptive text displayed (for the user) before the <select/>
        select.id:    <select id=""/> component id for label to be linked.
        select.name:  form/ajax data submit name
        select.na:    boolean indicates "Not Applicable" should be included when true.
        select.hint:  disabled first <option>text user hint</option>
            This parameter is optional. If omitted then there will be not hint text.
        select.codes: dictionary of code keys and friendly name values

{% endcomment %}
{% load dict_value %}
<label for="{{ select.id }}">{{ select.label }}</label>
<select name="{{ select.name }}" id="{{ select.id }}" required="{{ select.required }}">
    {% if select.hint %}
        <option value="" disabled selected>{{ select.hint }}</option>
    {% endif %}
    {% if select.na %}
        <option value="na">Not Applicable</option>
    {% endif %}
</select>
<script>

(function () {
    var thisRef = '#'+'{{ select.id }}'

    function getCodes() {
        $.get({
            url: '/codes/{{ select.code }}',
            dataType: 'json',
            success: function (response) {
                for (var id in response) {
                    var name = response[id]
                    // console.log('id:' + id + ', val:' + name )

                    $(thisRef)
                        .append("<option value='" + id + "'>" + name + "</option>");
                }
            }
        });
    }
    {% if select.parent_filter %}
        console.log('parent {{ select.parent_filter}}' )
    {% else %}
        console.log('no parent' )
        getCodes()
    {% endif %}
}());

</script>