

{% comment %}
    Name:: Codes Options Template
    Description::
        Helper to create codes selectors with optional "Not Applicable" entry.

    Parameters::
        select.label: descriptive text displayed (for the user) before the <select/>
        select.id:    <select id=""/> component id for label to be linked.
        select.name:  form/ajax data submit name
        select.na:    boolean indicates "Not Applicable" should be included when true.
        select.hint:  disabled first <option>text user hint</option>
            This parameter is optional. If omitted then there will be not hint text.
        select.code:  restful api url parameter for the desired codes.
        select.parent_filter: the html element id of the select that filters this one
            If none then there is no parent to filter this selection.
        select.parent_hint: If there is a parent then this hint will be used before there is a selection.
            Once the parent has been selected then the select.hint is used.

{% endcomment %}
{% load dict_value %}
<label for="{{ select.id }}">{{ select.label }}</label>
<select name="{{ select.name }}" id="{{ select.id }}" required="{{ select.required }}">
    {% if select.parent_hint %}
        <option value="" disabled selected>{{ select.parent_hint }}</option>
    {% elif select.hint %}
        <option value="" disabled selected>{{ select.hint }}</option>
    {% endif %}
    {% if select.na %}
        <option value="na">Not Applicable</option>
    {% endif %}
</select>
<script>

(function () {
    var thisRef = '#'+'{{ select.id }}'

    // Helper method to use AJAX to fetch the codes values and populate the options list.
    function getCodes(url) {
        $.get({
            url: url,
            dataType: 'json',
            success: function (response) {
                for (var id in response) {
                    var name = response[id]
                    // console.log('id:' + id + ', val:' + name )

                    $(thisRef)
                        .append("<option value='" + id + "'>" + name + "</option>");
                }
            }
        });
    }
    // condition on parent filter id present or not
    {% if select.parent_filter %}
        // when parent filter id is present this js will link this components list to it
        console.log('parent {{ select.parent_filter}}' )
        var parentRef = '#'+'{{ select.parent_filter }}'
        console.log('parent {{ select.parent_filter}}' )
        $(parentRef).change(function() {
            $(thisRef)[0][0].textContent = '{{ select.hint }}'
            var parentCode = $(parentRef).val();
            var url = '/codes/{{ select.code }}/'+parentCode
            console.log('parent ' + parentCode)
            getCodes(url)
        })
    {% else %}
        // when no parent filter id is present this js will the list raw
        console.log('no parent' )
        var url = '/codes/{{ select.code }}'
        getCodes(url)
    {% endif %}
}());

</script>