<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        Well Registry Management
    </title>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
    <h1>
        Well Registry Management
    </h1>

    <div>
        <p>Codes Test DEMO</p>
<br>
<br>
        <p>Server Side DEMO</p>
<br>
        {% comment %}
            no need for path to template if defined in settings.py TEMPLATES section
        {% endcomment %}
        {% include "lookups.html" with select=country_codes %}
        {% include "lookups.html" with select=state_codes %}
        {% include "lookups.html" with select=county_codes %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
        <p>AJAX DEMO</p>
<br>
        {% include "ajax_codes.html" with select=country_ajax %}
        {% include "ajax_codes.html" with select=state_ajax %}
        {% include "ajax_codes.html" with select=county_ajax %}
    </div>
</body>
</html>